/* Banner Start */
body, div {
  margin: 0;
  padding: 0;
}


.banner {
  position: relative; 
}


.banner img {
  display: block; 
  width: 100%;
  height: auto; 
  max-height: 100vh; 
}
/* Banner End */
/* Menu Start */

.rectangle{
  position: relative;
}

.rectangle{
  top: 2px;
  width: 1280px; 
  height: 40px; 
  background: black; 
  border-radius: 11px;
}
/* Should Add Buttons */
/* If u want to edit gap between menu and banner cahnge top */

/* Menu End */
