/* Banner Start */
body, div {
  margin: 0;
  padding: 0;
}


.banner {
  position: relative; 
}


.banner img {
  display: block; 
  width: 100%;
  height: auto; 
  max-height: 100vh; 
}
/* Banner End */


/* Image Start */
.fun{
    position: fixed;
}

.fun{
  position: fixed;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 36vw; 
  height: 36vw;
  right: 10vw; 
  top: 25vh;
}

/* Image End */


/* Content Start */

.content {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.label .text-wrapper {
  position: fixed;
  color: #000000;
  font-family: "Jua";
  font-size: 12vw; 
  text-shadow: 0.46875vw 0.15625vw 0.3125vw #ff7f0a;
  margin-right: 20px;
  top: 31vh; 
  left: 13vw; 
}

/* Content End */

/* Back Button  Start*/

.fa-arrow-left{
  color:#ffffff;
  background-color: #000000;
  position: fixed;
  left: 0.5vw;
  top: 26.5vh;
  padding: 10px 20px;
  background-color: #000000;
  border: none;
  border-radius: 1vw;
  font-size: 1.8vw;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  width: 2vw;
  height: 1.7vw;
  text-align: center;
}
.fa-arrow-left:hover{
  box-shadow:0.46875vw 0.15625vw 0.3125vw #ff7f0a;
}

/* Back Button End */
