
/* Banner Start */
body, div {
  margin: 0;
  padding: 0;
}


.banner {
  position: relative; 
}


.banner img {
  display: block; 
  width: 100%;
  height: auto; 
  max-height: 100vh; 
}
/* Banner End */


/* Children Image Start */

.fun{
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 36vw; 
  height:36vw;
  right: 13vw; 
  top:0.5vh;
}

/* Childern Image End */


/* Content Start */

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.label .text-wrapper {
  position: absolute;
  color: #000000;
  font-family: "Jua";
  font-size: 12vw; 
  text-shadow: 0.46875vw 0.15625vw 0.3125vw #ff7f0a;
  margin-right: 20px;
  top: -5vh; 
  left: 17vw; 
}

/* Content End */

/* Back Button  Start*/

.fa-arrow-left-long{
  color:#ffffff;
  background-color: #000000;
  position: absolute;
  left: 0.5vw;
  top: 26.5vh;
  padding: 1.11vh 1.39vw;
  background-color: #000000;
  border: none;
  border-radius: 1vw;
  font-size: 1.8vw;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  width: 2vw;
  height: 1.6vw;
  text-align: center;
}
.fa-arrow-left-long:hover{
  box-shadow:0.46875vw 0.15625vw 0.3125vw #ff7f0a;
}


/* Back Button End */

/* Designed By Start */

.design{
  color:#ffffff;
  background-color: #000000;
  font-family: "Jua";
  position: absolute;
  right: 0.5vw;
  top: 26.5vh;
  border: none;
  border-radius: 1vw;
  font-size: 1.9vw;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  width: 12vw;
  height: 2.6vw;
  text-align: center;
}
.design:hover{
  box-shadow:0.46875vw 0.15625vw 0.3125vw #ff7f0a;
}
/* Designed By End */

/* Rabbit picture Start */

.rabbit{
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 12vw; 
  height:17vw;
  left: 2vw; 
  top: 63vh;
}

/* Rabbit picture End */


/* Cards Start*/
.container {
  font-family: "Jua";
  position: relative;
  top:80vh;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.text-card {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  border:0.2vw solid #000;
  border-radius: 5vh;
  text-align: center;
  height:30vw;
  width: 25vw;
}


.text-card:hover{
  box-shadow:0.7vw 0.7vw 1vw #ff7f0a;
}

.text-card img{
  height:25vw;
  width: 25vw;
}

.text-card .line{
  border: 0.1vw black solid;
}
.text-card a{
  color:#000;
  text-decoration: none;
}

/* Card Hover Zoom Start */
.text-card {
  overflow: hidden;
  transition: all 0.3s ease-in-out; 
}

.text-card:hover {
  transform: scale(1.05); 
}

/* Card Hover Zoom End */

/* Cards Start*/

/* Explore Button Start */
.explore{
  color:#ffffff;
  background-color: #000000;
  font-family: "Jua";
  position: absolute;
  left: 24vw;
  top: 86.5vh;
  border: none;
  border-radius: 2vw;
  font-size: 1.9vw;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  width: 15vw;
  height: 2.7vw;
  text-align: center;
}
.explore:hover{
  box-shadow:0.46875vw 0.15625vw 0.3125vw #ff7f0a;
}

/* Explore Button End */
