/* Banner Start */
body,
div {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.banner {
  position: relative;
}
.banner img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100vh;
}
/* Banner End */

/* Back Button  Start*/

.fa-arrow-left-long {
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  left: 0.5vw;
  top: 26.5vh;
  padding: 1.11vh 1.39vw;
  border: none;
  border-radius: 1vw;
  font-size: 1.8vw;
  cursor: pointer;
  text-decoration: none;
  width: 2vw;
  height: 1.6vw;
  text-align: center;
}

.fa-arrow-left-long:hover {
  box-shadow: 0.46875vw 0.15625vw 0.3125vw #ff7f0a;
}

/* Back Button End */

/* Designed By Start */
.design {
  color: #ffffff;
  background-color: #000000;
  font-family: "Jua";
  position: absolute;
  right: 0.5vw;
  top: 26.5vh;
  border: none;
  border-radius: 1vw;
  font-size: 1.9vw;
  cursor: pointer;
  text-decoration: none;
  width: 12vw;
  height: 2.6vw;
  text-align: center;
}

.design:hover {
  box-shadow: 0.46875vw 0.15625vw 0.3125vw #ff7f0a;
}

/* Designed By End */

/* innovation end */
.label {
  position: absolute;
  color: #000000;
  font-family: "Jua";
  font-size: 7vw;
  text-shadow: 2px 2px 4px #ff7f0a;
  width: 50.05vw;
  height: 43.52vh;
  top: 22.9vh;
  left: 33vw;
  margin-right: 15vw;
}

/* innovation end */


/* Navigation Start */
.about {
  color: #ffffff;
  background-color: #000000;
  font-family: "Jua";
  position: absolute;
  border-radius: 0.6vw;
  font-size: 1.9vw;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  right: 1.5vw;
  top: 55vh;
  width: 13vw;
  height: 2.6vw;
}

.about:hover {
  box-shadow: 0.46875vw 0.15625vw 0.3125vw #ff7f0a;
}

.register {
  color: #ffffff;
  background-color: #000000;
  font-family: "Jua";
  position: absolute;
  text-align: center;
  border-radius: 0.6vw;
  font-size: 1.9vw;
  cursor: pointer;
  text-decoration: none;

  right: 1.5vw;
  top: 65vh;
  width: 13vw;
  height: 2.6vw;
}

.register:hover {
  box-shadow: 0.46875vw 0.15625vw 0.3125vw #ff7f0a;
}

.archive {
  color: #ffffff;
  background-color: #000000;
  font-family: "Jua";
  position: absolute;
  right: 1.5vw;
  top: 75vh;
  border: none;
  border-radius: 0.6vw;
  font-size: 1.9vw;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  width: 13vw;
  height: 2.6vw;
  text-align: center;
}

.archive:hover {
  box-shadow: 0.46875vw 0.15625vw 0.3125vw #ff7f0a;
}

/* Navigation End */

/*Big Card start*/
.card {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 0.2vw solid #000;
  border-radius: 5vh;
  text-align: center;
  position: absolute;
  box-shadow: 0.7vw 0.7vw 1vw #ff7f0a;
  top: 41vh;
  height: 23vw;
  right: 21vw;
  width: 43vw;
}

/*Big Card End*/

/* Rocket picture start */
.rocket {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 29vw;
  height: 29vw;
  left: 2vw;
  top: 38vh;
}

/* Rocket picture end */

/* Events start */

.dotted-events {
  font-family: "Jua";
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5vh;
  text-align: center;
  position: absolute;
  top: 105vh;
  height: 23vw;
  width: 87vw;
  left: 4.5vw;
  border: 0.2vw dashed #ff7f0a;  
}
/* Documents Image start */
.documents{
  position: absolute;
  top:105vh;
  left:20vw;
  height:60vh;
  width: 60vw;
}
/* Documents Image end */

.events h1{
  font-family: "Jua";
  display: block;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 103vh;
  height: 23vw;
  width: 88vw;
  left: -24vw;
}
.eventline{
  position: absolute;
  left: 35vh;;
  top:117vh;
  width: 11vw;
  border: 0.1vw black solid;
}


.reports h1{
  font-family: "Jua";
  display:flexbox;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 103vh;
  height: 23vw;
  width: -120vw;
  right: 18vw;
}
.reportline{
  position: absolute;
  right: 34vh;;
  top:117vh;
  width: 12vw;
  border: 0.1vw black solid;
}

.events ul, .reports ul {
  font-family: "Jua";
  display: block;
  font-size: 1.5vw;
  justify-content: space-between;
  position: absolute;
  width: 11vw;
  top: 117vh;
}

.events ul{
  left: 30vh;
}
.reports ul {
  right: 35vh;
}


/* Events End */

/* Clcle Image Start*/
.cycle {
  position: absolute;
  display: flex;
  padding: 37.188px 18.881px 36.75px 18.881px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  top:153vh;
  width: -120vw;
  height:46vh;
  right:0vw;
}

.road{
  position: absolute;
  left: 6vh;;
  top:202vh;
  width: 90vw;
  border: 0.1vw black solid;
}


/* Clcle Image end*/

/* Qoutation Start */
.quote {
  position: absolute;
  top:175vh;
  border: 0vw none;
  color: transparent;
  font-family: "Jua";
  font-size: 2.2vw;
  font-weight: 400;
  left: 4vw;
  letter-spacing: 0;
  line-height: normal;
  color: #000;
}

.quote span {
  color: #ff7f0a;
}

/* Qoutation End */

/* Book Picture start */
.book{
  position: absolute;
  display: flex;
  padding: 37.188px 18.881px 36.75px 18.881px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  top:189vh;
  width: 48vw;
  height:120vh;
  right:1vw;
}
/* Book Picture start */
* About Start */
.dot-abouts{
  display: block;
  justify-content: space-between;
  padding: 100px;
  padding: 20px;
  border-radius: 5vh;
  text-align: center;
  position: absolute;
  top: 211vh;
  height: 38vw;
  width: 30vw;
  left: 10vw;
  border: 0.2vw dashed #ff7f0a;  
  overflow: hidden;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
 
}
.abouts {
  font-family: "Jua";
  color:black;
  display: block;
  border: none;
  text-align:center;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  top: 208vh;
  height: 30vw;
  width: 29vw;
  left: 10vw;
  overflow:visible;
}
.aboutsline {
  position: absolute;
  left: 45vh;
  color:black;
  top:220vh;
  width: 9vw;
  border: 0.1vw black solid; 
}

}
/* about end */
/*faculty cads*/
.container {
  font-family: "Jua";
  position: relative;
  top:295vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cordinator-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 570px;

}

.faculty1 {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-direction: row;
  border:0.15vw solid #000;
  border-radius: 3vh;
  text-align: center;
  left:15vw;
  height:15vw;
  width: 25vw;
  gap: 40vw;
  box-shadow:0.7vw 0.7vw 1vw #ff7f0a;
}
.faculty2 {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  border:0.15vw solid #000;
  border-radius: 3vh;
  text-align: center;
  right:15vw;
  height: 15vw;
  width: 25vw;
  box-shadow:0.7vw 0.7vw 1vw #ff7f0a;
}
/*faculty cars end */
/* student cards */
.boxes1 {
  font-family: "Jua";
  position: relative;
  top:306vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

}
.student-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 90px;

}

.student1 {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-direction: row;
  border:0.15vw solid #000;
  border-radius: 3vh;
  text-align: center;
  left:15vw;
  height:20vw;
  width: 15vw;
  box-shadow:0.7vw 0.7vw 1vw #ff7f0a;

}
.student2 {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  border:0.15vw solid #000;
  border-radius: 3vh;
  text-align: center;
  right:15vw;
  height:20vw;
  width: 15vw;
  box-shadow:0.7vw 0.7vw 1vw #ff7f0a;

}
.student3 {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-direction: row;
  border:0.15vw solid #000;
  border-radius: 3vh;
  text-align: center;
  left:15vw;
  height:20vw;
  width: 15vw;
  box-shadow:0.7vw 0.7vw 1vw #ff7f0a;
}
.student4 {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  border:0.15vw solid #000;
  border-radius: 3vh;
  text-align: center;
  right:15vw;
  height:20vw;
  width: 15vw;
  box-shadow:0.7vw 0.7vw 1vw #ff7f0a;
}

.boxes2 {
  font-family: "Jua";
  position: relative;
  top:310vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

}
.student-card2 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 90px;
}

.student5 {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-direction: row;
  border:0.15vw solid #000;
  border-radius: 3vh;
  text-align: center;
  left:15vw;
  height:20vw;
  box-shadow:0.7vw 0.7vw 1vw #ff7f0a;
  width: 15vw;
}
.student6 {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  border:0.15vw solid #000;
  border-radius: 3vh;
  text-align: center;
  right:15vw;
  height:20vw;
  width: 15vw;
  box-shadow:0.7vw 0.7vw 1vw #ff7f0a;
}
.student7 {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-direction: row;
  border:0.15vw solid #000;
  border-radius: 3vh;
  text-align: center;
  left:15vw;
  height:20vw;
  width: 15vw;
  box-shadow:0.7vw 0.7vw 1vw #ff7f0a;

}
.student8 {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 20px;
  border:0.15vw solid #000;
  border-radius: 3vh;
  text-align: center;
  right:15vw;
  height:20vw;
  width: 15vw;
  box-shadow:0.7vw 0.7vw 1vw #ff7f0a;
}
/* student cards end*/
/* shakinghands image start */
.shakinghands{
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25vw; 
  height:28vw;
  right: 37.5vw; 
  top:311vh;
}
/* shakinghands image end */

