body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    text-align: center;
}

.under-update-container {
    background-color: #ffffff;
    padding: 50px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333333;
}

p {
    font-size: 18px;
    color: #666666;
}
